<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to Restaurant</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-8 medium-8 columns">
        <h5>Restaurant Information:</h5>
		<img src="" alt="Restaurant" style="width:304px;height:228px;">
        <hr />

          <div class="row">
            <div class="large-12 columns">
              <label>Borough: <%=borough%></label>
            </div>
          </div>
		   <div class="row">
            <div class="large-12 columns">
              <label>Cuisine: <%=cuisine%></label>
            </div>
          </div>
		   <div class="row">
            <div class="large-12 columns">
              <label>Street: <%=street%></label>
            </div>
          </div>
		   <div class="row">
            <div class="large-12 columns">
              <label>Building: <%=building%></label>
            </div>
          </div>
		   <div class="row">
            <div class="large-12 columns">
              <label>Zipcode: <%=zipcode%></label>
            </div>
          </div>
		  <div class="row">
            <div class="large-12 columns">
              <label>GPS: [<%=lat%>, <%=lon%> ]</label>
            </div>
          </div>
		   <div class="row">
            <div class="large-12 columns">
              <label>Rating:</label>
            </div>
          </div>
		 <div class="row">
            <div class="large-12 columns">
              <label>Created by: <%=userId%></label>
            </div>
          </div>
	  	  <div class="row">
            <div class="large-12 columns">
			   <a href="#">Google Map</a>
            </div>
          </div>
		  <div class="row">
                <a href="#" class="button">Rate</a>
                <a href="#" class="button">Edit</a>
                <a href="#" class="button">Edit</a>
				<a href="#" class="button">Go Back</a>
          </div>
      </div>

    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
